* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

body {
  background-color: #272932;
  color: #ebebeb;
  max-width: 100ch;
  margin: auto;
  padding: 2rem;
}

p {
  max-width: 65ch;
}

p {
  line-height: 1.5;
  padding-bottom: 1rem;
}

h2 {
  padding: 1rem 0;
}

h2::before {
  content: "#";
  display: block;
  position: absolute;
  transform: translateX(-200%);
}

a {
  text-decoration: none;
  color: #4d7ea8;
}

a:hover {
  text-decoration: underline;
  opacity: 80%;
}
